/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


body {

    font-family: "Red Hat Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    @apply text-sm;
    font-style: normal;
}